In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("data.csv", encoding="latin1")
data.head(10)

/tmp/ipython-input-1081922921.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data.csv", encoding="latin1")

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
5,152.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.4,25.7,NaN,NaN,NaN,NaN,1990-03-01
6,150.0,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",5.4,17.1,NaN,NaN,NaN,NaN,1990-04-01
7,151.0,April - M041990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,8.7,NaN,NaN,NaN,NaN,1990-04-01
8,152.0,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.2,23.0,NaN,NaN,NaN,NaN,1990-04-01
9,151.0,May - M051990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.0,8.9,NaN,NaN,NaN,NaN,1990-05-01

In [6]:

data = data.dropna(subset=["no2"])
x = data["no2"].values.astype(float)
print(f"Total samples used: {len(x)}")

Total samples used: 168519

In [7]:

r = 102316044

ar = 0.05 * (r%7)
br = 0.3 * (r% 5+1)
print(f"ar = {ar}")
print(f"br = {br}")

ar = 0.25
br = 1.5

In [8]:

z = x + ar*np.sin(br*x)

PDF: p̂(z) = c * exp(-λ (z - μ)^2)

In [9]:

mu = np.mean(z)
var = np.mean((z-mu) ** 2)
lam = 1/(2*var)
# Normalization const
c = np.sqrt(lam / np.pi)

In [10]:
print(f"μ (mean)       = {mu}")
print(f"var (variance) = {mu}")
print(f"λ (lambda)     = {lam}")
print(f"c (constant)   = {c}")

μ (mean)       = 21.45967754739083
var (variance) = 21.45967754739083
λ (lambda)     = 0.0022078447029087425
c (constant)   = 0.026509975407275788